@use "variables" as *;

@mixin media-down($size) { @media screen and (max-width: $size) { @content; } }
@mixin media-up($size) { @media screen and (min-width: $size + 1px) { @content; } }

// --- Миксины для Max-Width (Desktop-First) ---
@mixin uw-down { @include media-down($breakpoint-uw) { @content; } }
@mixin hd-down { @include media-down($breakpoint-hd) { @content; } }
@mixin lx-down { @include media-down($breakpoint-lx) { @content; } }
@mixin lg-down { @include media-down($breakpoint-lg) { @content; } }
@mixin md-down { @include media-down($breakpoint-md) { @content; } }
@mixin sm-down { @include media-down($breakpoint-sm) { @content; } }
@mixin tablet-lg-down { @include media-down($breakpoint-tablet-lg) { @content; } }
@mixin tablet-sm-down { @include media-down($breakpoint-tablet-sm) { @content; } }
@mixin mobile-ls-down { @include media-down($breakpoint-mobile-ls) { @content; } }
@mixin mobile-lg-down { @include media-down($breakpoint-mobile-lg) { @content; } }
@mixin mobile-md-down { @include media-down($breakpoint-mobile-md) { @content; } }
@mixin mobile-sm-down { @include media-down($breakpoint-mobile-sm) { @content; } }
@mixin mobile-xs-down { @include media-down($breakpoint-mobile-xs) { @content; } }

// --- Миксины для Min-Width (Mobile-First / Адаптив) ---
@mixin uw-up { @include media-up($breakpoint-uw) { @content; } }
@mixin hd-up { @include media-up($breakpoint-hd) { @content; } }
@mixin lx-up { @include media-up($breakpoint-lx) { @content; } }
@mixin lg-up { @include media-up($breakpoint-lg) { @content; } }
@mixin md-up { @include media-up($breakpoint-md) { @content; } }
@mixin sm-up { @include media-up($breakpoint-sm) { @content; } }
@mixin tablet-lg-up { @include media-up($breakpoint-tablet-lg) { @content; } }
@mixin tablet-sm-up { @include media-up($breakpoint-tablet-sm) { @content; } }
@mixin mobile-ls-up { @include media-up($breakpoint-mobile-ls) { @content; } }
@mixin mobile-lg-up { @include media-up($breakpoint-mobile-lg) { @content; } }
@mixin mobile-md-up { @include media-up($breakpoint-mobile-md) { @content; } }
@mixin mobile-sm-up { @include media-up($breakpoint-mobile-sm) { @content; } }
@mixin mobile-xs-up { @include media-up($breakpoint-mobile-xs) { @content; } }