$large-size:1920px;
$base-size: 1440px;
$notebook-base-size: 1280px;
$tablet:1024px;
$small-tablet:991px;
$landscape-mobile:768px;
$mobile:480px;

$font-base-size:16px;
$font-family-base:'Open Sans', sans-serif;

$primary-color-1: #000;
$primary-color-1-hover: rgba(0, 0, 0, 0.33);