include global-components.pug
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport',content='width=device-width, initial-scale=1, maximum-scale=5')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(content='', name='description')
    meta(content='', name='keywords')
    meta(content='telephone=no', name='format-detection')
    block title
      title CWA project!
  body
    +header
    main.root
      block content
    +footer