doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    header
      h1 Welcome to My dog
      nav
        ul
          li
            a(href="/") test
          li
            a(href="/about") sdfsd
          li
            a(href="/contact") sdfs
    main
      section
        h2 Main Content
        p This is the main content of the page.
      section
        h2 Another Section
        p This is another section of the page.
    footer
      p &copy; 2023 My Website